// HEADER
.header {
    background: #eee4dbac;
    backdrop-filter: blur(8px);

    padding: .5rem 1rem 0 1rem;
    width: 100%;

    position: fixed;
    top: 0;
}

// NAVEGAÇÂO
.header__nav {
    @include flex(space-between, center, row, wrap);
    position: relative;
}

// Logo
.header__logo-img {
    width: 10rem;
}

// Botão Menu Mobile
.header__btn-mobile {
    background: transparent;
    color: #222222;
    font-size: 1.75rem;
    cursor: pointer;

}

// Menu
.header__list {
    display: none;
    
    .header__link {
        color: #222222;

        padding: 0.25rem .5rem;
        width: 100%;

        display: block;

        font-size: 1rem;
        font-weight: 500;

        border-radius: 0.25rem;
    }

    /* CTA menu mobile */
    .header__btn-cta--mobile {
        @include cta-starbucks();

        margin-top: 1rem;
        padding: .25rem 0;
        width: 100%;

        font-weight: 600;

        border-radius: 0.5rem;

        &.header__cta-title {
            color: black;
        }
    }
    
    /* JS */
    &.header__list-show {
        background: #efefefac;
        backdrop-filter: blur(8px);
        
        padding: 1rem 0.75rem;
        width: 150px;

        @include flex(center, start, column, wrap);
        gap: 0.75rem;

        position: absolute;
        top: 100%;
        right: 0;

        border-radius: .5rem;
        box-shadow: 3px 6px 8px #22222233;
    }
}

// CTA desktop
.header__btn-cta {
    display: none;
}

/* DESKTOP RESPONSIVE */
@include lg {
    // HEADER
    .header {
        padding: 1.5rem 3.5rem;
    }

    // Logo
    .header__logo-img {
        width: 13rem;
    }

    // Botão Menu Mobile
    .header__btn-mobile {
        display: none;
    }

    // Menu
    .header__list {
        display: flex;

        .header__item {

            .header__link {
                display: flex;
        
                font-size: 1rem;
                font-weight: 600;
        
                /* HOVER */
                &:hover {
                    color: red;
                }
            }
        }
        
        /* CTA menu mobile */
        .header__btn-cta--mobile {
            display: none;
        }
    }

    // CTA desktop
    .header__btn-cta {
        display: flex;
        @include cta-starbucks();
        padding: .5rem 1rem;

        font-weight: 600;

        border-radius: 0.5rem;
    }
}